{% extends "base.html" %}
{% load static tz %}


{% block title %}Resume{% endblock title %}

{% block head %}
 <!-- Favicon-->
 <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
 <!-- Custom Google font-->
 <link rel="preconnect" href="https://fonts.googleapis.com" />
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
 <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
 <!-- Bootstrap icons-->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
 <!-- Core theme CSS (includes Bootstrap)-->
 <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
{% endblock head %}

{% block content %}
<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        {% comment %} Navigation {% endcomment %}
        {% include "components/navbar.html" %}
        {% comment %} page content {% endcomment %}
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline text-animated">Resume</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    {% comment %} Experience Section {% endcomment %}
                    <section>
                        {% if experiences %}
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0 text-animated">Experience</h2>
                                {% comment %} Download resume button {% endcomment %}
                                {% comment %} Note: Set the link href target to a PDF file within your project {% endcomment %}
                                <a href="#!" class="btn btn-primary px-4 py-3">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Download Resume
                                </a>
                            </div>
                            {% for experience in experiences %}
                                <div class="card shadow border-0 rounded-4 mb-5">
                                    <div class="card-body p-5">
                                        <div class="row align-items-center gx-5">
                                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                                <div class="bg-light p-4 rounded-4">
                                                    {% with nowyear=now|date:"Y" %}
                                                    <div class="text-primary fw-bolder mb-2">{{ experience.start_year }} - {% if experience.end_year == nowyear  %}Present{% else %}{{ experience.end_year}}{% endif %}</div>
                                                    {% endwith %}
                                                    <div class="small fw-bolder">{{ experience.title }}</div>
                                                    <div class="small text-muted">{{ experience.company }}</div>
                                                    <div class="small text-muted">{{ experience.location }}</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8"><div>{{ experience.description|capfirst }}</div></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="text-muted">No Experience yet.</div>
                        {% endif %}
                    </section>
                    {% comment %} Edudation section {% endcomment %}
                    <section>
                        {% if educations %}
                            <h2 class="text-secondary fw-bolder mb-4 text-animated">Education</h2>
                            {% comment %} Education Card {% endcomment %}
                            {% for education in educations %}
                                <div class="card shadow border-0 rounded-4 mb-5">
                                    <div class="card-body p-5">
                                        <div class="row align-items-center gx-5">
                                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                                <div class="bg-light p-4 rounded-4">
                                                    <div class="text-secondary fw-bolder mb-2">{{ education.start_year }} - {{ education.end_year }}</div>
                                                    
                                                    <div class="mb-2">
                                                        <div class="small fw-bolder">{{ education.institute }}</div>
                                                        <div class="small text-muted">{{ education.location }}</div>
                                                    </div>
                                                    <div class="fst-italic">
                                                        <div class="small text-muted">{{ education.degree }}</div>
                                                        <div class="small text-muted">{{ education.field }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8"><div>{{ education.description|capfirst }}</div></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="text-muted">No Education yet.</div>
                        {% endif %}
                    </section>
                    {% comment %} divider {% endcomment %}
                    <div class="pb-5"></div>
                    {% comment %} skills section {% endcomment %}
                    <section>
                        {% if skills or programmingskills %}
                            {% comment %} Skillset card {% endcomment %}
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    {% comment %} Professional skills list {% endcomment %}
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline text-animated">Professional Skills</span></h3>
                                        </div>
                                        {% if skills %}
                                            <div class='row row-cols-1 row-cols-md-3 mb-4'>
                                                {% for skill in skills %}
                                                    <div class="col mb-4 mb-md-0">
                                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">  
                                                            {{ skill.name }}
                                                        </div>
                                                    </div>
                                                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                                                        </div>
                                                        <div class='row row-cols-1 row-cols-md-3 mb-4'>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                
                                    </div>
                                    {% comment %} language list {% endcomment %}
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline text-animated">Programming Languages</span></h3>
                                        </div>
                                        {% if programmingskills %}
                                        <div class='row row-cols-1 row-cols-md-3 mb-4'>
                                            {% for programmingskill in programmingskills %}
                                                <div class="col mb-4 mb-md-0">
                                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                        <div style='margin-right: 10px;'>
                                                            <img src="{{ programmingskill.icon.url }}" alt="{{ programmingskill.name }}" width='20' height='20'>
                                                        </div>  
                                                        {{ programmingskill.name }}
                                                    </div>
                                                </div>
                                                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                                                    </div>
                                                    <div class='row row-cols-1 row-cols-md-3 mb-4'>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="text-muted">No skills yet.</div>
                        {% endif %}
                    </section>

                </div>
            </div>
        </div>
    </main>
    {% comment %} foooter {% endcomment %}
    {% include "components/footer.html" %}
</body>
{% endblock content %}


